body {
    background-color:rgb(228, 3, 116);
}

h1 {
    text-shadow: 2px 2px 4px #000000;
    font-size: 2.5em;
    color: beige;
    text-align: center;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h2 {
    text-shadow: 1px 1px 2px #1f1e1e;
    font-size: 1.6em;
    color: beige;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

h3 {
    text-shadow: 1px 1px 2px #1f1e1e;
    font-size: 1.1em;
    color: beige;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    text-shadow: 0.8px 0.8px 1px #1f1e1e;
    font-size: 1em;
    color: beige;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 0.95em;
    color: beige;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.inset {
    border-style: inset;
    padding: 10px;
    border-color: rgb(242, 202, 239)
}

p2 {
    font-size: 0.95em;
    color: beige;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#theme-button {
    color: rgb(228, 3, 116);
    background-color: pink;
    border-radius: 8px;
    border: 1px solid beige;
    text-align: center;
}

#theme-button:hover {
    background-color: rgb(193, 110, 124);
}

:root.different-color body {
    background-color: rgb(0, 0, 0);
}

:root.different-color h1, :root.different-color h2, :root.different-color h3, :root.different-color h4, :root.different-color p, :root.different-color p2 {
    color: rgb(242, 202, 239);
}

:root.different-color p.inset {
    border-color: rgb(63, 103, 118);
}

.nav-bar {
    background-color: rgb(242, 202, 239);
    width: 100%;
    padding: 5px;
    top: 0px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar a {
    text-decoration: none
}

a {
    color:rgb(228, 3, 116)
}

a:hover {
    color: rgb(51, 2, 50)
}

img {
    width: 250px;
    height: auto;
    float: right;
    padding: 20px;
}